:root {
    --blue: #0084C1;
    --gray: #B0ABA7;
    --white: #FFF;
    --black: #101010;
    --light-black: #1B1B1B;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/SZDK4295.jpg') center center / cover no-repeat;
    width: 100%;

    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 800px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
}

.breadcrumb-content p {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--blue);
}

.breadcrumb-content p a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}



@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 800px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */
















/* form section */

.contact-wrapper {
    display: grid;
    gap: 40px;
    background: var(--light-black);
    padding: 40px;
    align-items: center;
    border-radius: 10px;
}

/* FORM */

.contact-form h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--blue);
}

.contact-form p {
    color: #6c757d;
    margin-bottom: 25px;
}

.contact-form label {
    font-size: 14px;
    font-weight: 500;
}

.contact-form label span {
    color: var(--blue);
}

.contact-form .form-control {
    border-radius: 0px;
    padding: 12px 14px;
    background-color: var(--white);
    border: none;
    border-radius: 10px;
}




/* INFO CARDS */
.contact-info {
    display: grid;
    flex-direction: column;
    gap: 20px;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;

}

.info-card {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    background: var(--black);
    padding: 20px;
    border-radius: 10px;
}

.info-social {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--black);
    padding: 20px;
}



.info-card i {
    font-size: 22px;
    margin-top: 5px;
    color: var(--blue);

}

.info-card h6 {
    margin: 0;
    font-weight: 600;
}

.info-card p {
    margin: 5px 0 0;
    font-size: 14px;
    line-height: 1.6;
    color: var(--white);
}


.info-card .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.social-icons-links {
    width: 50px;
    height: 50px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    transition: all 0.3s ease;
    border-radius: 50px;
}

.social-icons-links a {
    text-decoration: none;
}

.social-icons-links a i {
    color: var(--white);
    transition: all 0.3s ease;
}

.social-icons-links:hover {
    background-color: var(--white);
}

.social-icons-links:hover a i {
    color: var(--blue);
}




/* RESPONSIVE */
@media (max-width: 992px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
        padding: 30px;
    }
}

/* form section */


















/* map section */
.map-section {
    width: 100%;
}

.map-section iframe {
    width: 100%;
}


/* map section */