:root {
  --blue: #003366;
  --light-blue: rgba(217, 232, 247, 0.2);
  --gray: #B0ABA7;
  --white: #FFF;
  --black: #101010;
  --light-black: #1B1B1B;
  --bg-white: #F8F8F8;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}













/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/faq.jpg') center center / cover no-repeat;
    width: 100%;

    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 800px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
}

.breadcrumb-content p {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--white);
}

.breadcrumb-content p a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}



@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 800px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */











/* FAQs Accordian Section */

.faq-container {
    background-color: var(--light-black);
    padding: 20px;
    border-radius: 20px;
}


.faq-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 0px 30px;
}

.faq-title span {
    color: var(--blue);
}

.faq-desc {
    color: var(--gray);
    padding: 0px 30px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 30px;
}

.faq-item {
    background: var(--black);
    border-radius: 16px;
    padding: 18px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    color: var(--white);
}

.faq-question:hover {
    color: var(--white);
}


.faq-icon {
    width: 34px;
    height: 34px;
    font-size: 20px;
    background: var(--blue);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.faq-answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    color: var(--gray);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    margin-top: 10px;
}

/* ACTIVE */
.faq-item.active .faq-answer {
    max-height: 300px;
}

.faq-item.active .faq-icon {
    transform: rotate(135deg);
}

@media (max-width: 768px) {

    .faq-container {
        padding: 10px;
    }

    .faq-title {
        padding: 0px 15px;
    }

    .faq-desc {
        padding: 0px 15px;

    }

    .faq-title {
        font-size: 32px;
    }
}

/* FAQs Accordian Section */