/* ======= Typography style ======= */

:root {
  --blue: #0084C1;
  --gray: #B0ABA7;
  --white: #FFF;
  --black: #101010;
  --light-black: #1B1B1B;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}










/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/interior-design-3.jpg') center center / cover no-repeat;
    width: 100%;

    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 800px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
}

.breadcrumb-content p {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--blue);
}

.breadcrumb-content p a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}

.breadcrumb-content p span {
    color: var(--white);
}


@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 800px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */



















/* ================= SERVICE INTRO SECTION ================= */

.service-sectio-row {
    align-items: stretch;
}

.service-intro {
    text-align: left;
}

.service-intro h2 {
    margin-bottom: 20px;
    text-align: left;
}

.service-img {
    padding: 20px;
    height: 100%;
}

.service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {

    .service-img img {
        aspect-ratio: auto;

        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
        border-bottom-right-radius: 50px !important;
        border-bottom-left-radius: 0 !important;
    }
}

/*  MOBILE  */
@media (max-width: 767px) {

    .service-img {
        padding: 0;
    }

    .service-img img {
        aspect-ratio: 3 / 2;
        border-radius: 50px !important;
        object-fit: cover;
        object-position: center;
    }
}

/* ================= SERVICE INTRO SECTION ================= */














/* ================= SERVICE GALLERY SECTION ================= */

.service-gallery-1 {
    border-radius: 50px;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.service-gallery-1 .img {
    border-radius: 50px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}


.service-gallery-2 {
    border-radius: 0px !important;
}

.service-gallery-2 .img {
    border-radius: 0px !important;
}




.service-gallery-3 {
    border-radius: 50px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.service-gallery-3 .img {
    border-radius: 50px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.service-gallery-1 .img img,
.service-gallery-2 .img img,
.service-gallery-3 .img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: inherit;
}


@media (max-width:767px) {

    .service-gallery-1,
    .service-gallery-2,
    .service-gallery-3 {
        border-radius: 50px !important;
        aspect-ratio: 3/2 !important;
    }

    .service-gallery-1 .img,
    .service-gallery-2 .img,
    .service-gallery-3 .img {
        border-radius: 50px !important;
        aspect-ratio: 3/2 !important;
    }

}

/* ================= SERVICE GALLERY SECTION ================= */













/* ================= PROCESS SECTION ================= */


/* PROCESS CARD */
.process {
    position: relative;
    padding: 45px 35px 85px;
    border-radius: 20px 20px 0 20px;
    background: var(--light-black);
}


/* TEXT */
.process .text h5 {
    color: var(--blue);
    font-size: 18px;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: left;

}

.process .text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: var(--gray);
    margin: 0;
    text-align: left;
}

/* ICON CONTAINER */
.process .icon {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 92px;
    height: 92px;
    background: #101010;
    border-top-left-radius: 50%;
    padding: 16px;
}

/* corner cut illusion */
.process .icon::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: -22px;
    width: 22px;
    height: 22px;
    box-shadow: 8px 8px 0 8px #101010;
    border-bottom-right-radius: 22px;
}

.process .icon::after {
    content: "";
    position: absolute;
    top: -22px;
    right: 8px;
    width: 22px;
    height: 22px;
    box-shadow: 8px 8px 0 8px #101010;
    border-bottom-right-radius: 22px;
}

/* ARROW BUTTON */
.process .icon .arrow {
    width: 60px;
    height: 60px;
    background: var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}


/* ICON WRAPPER */
.process .icon .icon-w {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* IMAGE ICON */
.process .icon .icon-w img {
    width: 34px;
    height: 34px;
    transition: opacity 0.3s ease;
}



/*  RESPONSIVE  */

@media (max-width: 991px) {
    .process {
        padding: 40px 30px 80px;
    }

    .process .text h5 {
        font-size: 17px;
    }

    .process .text p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .process {
        padding: 35px 25px 75px;
    }

    .process .icon {
        width: 80px;
        height: 80px;
    }

    .process .icon .arrow {
        width: 54px;
        height: 54px;
    }
}

/* ================= PROCESS SECTION ================= */












/* ================= SERVICE CTA ================= */

.service-container {
    position: relative;
    padding: 60px;
    border-radius: 50px;
    overflow: hidden;

    background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=1600&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.service-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.service-cta-content {
    position: relative;
    z-index: 1;
    width: 70%;
}

.service-cta-content h2 {
    color: var(--white);
    text-transform: uppercase;
}

/* ================= MOBILE FIX ================= */
@media (max-width: 768px) {
    .service-container {
        background-attachment: scroll;
    }

    .service-cta {
        padding: 100px 12px;
    }

    .service-container {
        padding: 30px;
    }

    .service-cta-content {
        width: 100%;
    }

    .service-cta-content h2 {
        font-size: 1.6rem;
    }
}

.newsletter {
    position: relative;
    width: 100%;
    max-width: 350px;
}

.newsletter input {
    height: 60px;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    font-size: 17px;
    font-weight: 300;
    color: var(--gray);
    outline: none;
    padding: 0 90px 0 20px;
    border: 1px solid var(--blue);
    border-radius: 30px;
}

.newsletter button {
    height: 50px;
    width: 50px;
    border: none;
    background: var(--blue);
    font-size: 17px;
    font-weight: 300;
    color: #101010;
    outline: none;
    padding: 0px 16px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    line-height: 55px;
    outline: none;
    transform: rotate(0);
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

.newsletter input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.newsletter:hover button {
    background: var(--blue);
    outline: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
    color: #101010;
}

/* ================= SERVICE CTA ================= */
















/* ================= WHY CHOOSE US SECTION ================= */
.service-process-step {
    padding: 20px;
}


.service-process-step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}



.service-process-step-icon {
    padding: 10px;
    width: 80px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--light-black);
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.service-process-step img {
    text-align: center;
    width: 50px;
    height: 50px;
}

.service-process-step h5 {
    text-align: center;
}

.service-process-step p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}

.botton-link {
    text-align: center;
    padding-top: 20px;
}

.service-process-step-content:hover .service-process-step-icon {
    background-color: var(--blue);
    transform: scale(1.05);
}

@media (max-width:767px) {
    .content {
        text-align: center;
    }
}

/* ================= WHY CHOOSE US SECTION ================= */


















/* ================= OTHER / ADDITIONAL SERVICE WE PROVIDE ================= */


.additional-service-section .container {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-black);
}

/* MAIN CARD */
.additional-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    transition: transform .3s ease;
}

/* Keep alignment on hover */
.additional-service:hover {
    transform: scale(1.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-service:hover .additional-service-list {
    background-color: var(--blue);
}


/* ICON WRAPPER */
.additional-service-list {
    width: 80px;
    height: 80px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.additional-service-list img {
    width: 40px;
    height: 40px;
}

/* TEXT (your selector was wrong earlier) */
.additional-service p {
    font-size: 14px;
    text-align: center;
    color: var(--white);
    margin: 0;
}

/* TITLE */
.additional-service-title {
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    color: var(--white);
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.additional-service-title span {
    color: var(--blue);
}


@media (max-width:575.9px) {
    .additional-service-section .container {
        border-radius: 0px;
    }

}

/* ================= OTHER SERVICE WE provide ================= */