/* ======= Typography style ======= */

:root {
    --blue: #003366;
    --light-blue: rgba(217, 232, 247, 0.2);
    --gray: #B0ABA7;
    --white: #FFF;
    --black: #101010;
    --light-black: #1B1B1B;
    --bg-white: #F8F8F8;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--light-blue);
}










/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/why_us.jpg') center center / cover no-repeat;
    width: 100%;

    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 800px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
}

.breadcrumb-content p {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--white);
}

.breadcrumb-content p a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: var(--white);
}



@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 800px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */



















/* ================= SERVICE INTRO SECTION ================= */

.service-sectio-row {
    align-items: stretch;
}

.service-intro {
    text-align: left;
}



.service-intro h2 {
    margin-bottom: 20px;
    text-align: left;
    color: var(--blue);
}

.service-intro ul span {
    font-size: 20px;
    color: var(--light-black);
    font-weight: 500;
}

.service-intro ul li {
    font-size: 16px;
    color: var(--light-black);
}

.service-intro ul li img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}


.service-img {
    height: 100%;
    border-radius: 10px;
}

.service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


/*  MOBILE  */
@media (max-width: 767px) {

    .service-img {
        padding: 0;
    }

    .service-img img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
        object-position: center;
    }
}

/* ================= SERVICE INTRO SECTION ================= */










/* ================= Info Cards SECTION ================= */


.info-section .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-head h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--blue);
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

.info-head ul {
    margin-right: 10px;
    padding: 0px;
}

.info-head ul li img {
    width: 20px;
    margin-right: 10px;
}


.info-head ul li {
    font: 16px;
    font-weight: 400;
    color: var(--light-black);
    text-transform: uppercase;
}

/* ================= Info Cards SECTION ================= */













/* ================= WHAT WE OFFER SECTION ================= */

.what-we-offer h2 {
    color: var(--blue);
}

.card-box {
    background: linear-gradient(160deg,
            #0066cc 0%,
            #003366 45%,
            #001225 100%);


    color: var(--white);
    border-radius: 20px;
    padding: 20px 30px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.card-box:hover {
    transform: scale(1.02);
}

/* ================= WHAT WE OFFER SECTION ================= */
















/* ================= WHAT YOU GET SECTION ================= */

.what-you-get .container h2 {
    color: var(--blue);
}

.custom-list {
    padding: 0px;
}

.custom-list li {
    display: flex;
    align-items: center;
    color: var(--light-black);
    margin: 4px 0px;
}

.custom-list li img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}


/* ================= WHAT YOU GET SECTION ================= */











/* ================= SERVICE GALLERY SECTION ================= */


.service-gallery-1 {
    border-radius: 20px;
}

.service-gallery-1 .img {
    object-fit: contain;
    object-position: center;
    border-radius: 20px;
}



.service-gallery-1 .img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: inherit;
}


.service-gallery-1:hover img {
    transform: scale(1.02);
}


/* ================= SERVICE GALLERY SECTION ================= */



















/* ================= SERVICE CTA ================= */

.service-container {
    position: relative;
    padding: 60px;
    overflow: hidden;

    background-image: url("../img/work\ \(5\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50px;
}

.service-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

.service-cta-content {
    position: relative;
    z-index: 1;
    width: 100%;
}

.service-cta-content h2 {
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}


.additional-service-section .container {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light-black);
}

/* MAIN CARD */
.additional-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    transition: transform .3s ease;
}

/* Keep alignment on hover */
.additional-service:hover {
    transform: scale(1.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.additional-service:hover .additional-service-list {
    background-color: var(--white);
}


/* ICON WRAPPER */
.additional-service-list {
    width: 80px;
    height: 80px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255, 0.2);
}

.additional-service-list img {
    width: 60px;
    height: 60px;
}


/* TEXT (your selector was wrong earlier) */
.additional-service p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
    color: var(--white);
    margin: 0;
}

/* TITLE */
.additional-service-title {
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    color: var(--white);
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.additional-service-title span {
    color: var(--blue);
}


@media (max-width:575.9px) {
    .additional-service-section .container {
        border-radius: 0px;
    }

}





/* ================= MOBILE FIX ================= */
@media (max-width: 768px) {
    .service-container {
        background-attachment: scroll;
    }

    .service-cta {
        padding: 100px 12px;
    }

    .service-container {
        padding: 30px;
    }

    .service-cta-content {
        width: 100%;
    }

    .service-cta-content h2 {
        font-size: 1.6rem;
    }
}


/* ================= SERVICE CTA ================= */
















/* ================= WHY CHOOSE US SECTION ================= */
.service-process-step {
    padding: 20px;
}


.service-process-step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}



.service-process-step-icon {
    padding: 10px;
    width: 80px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--light-black);
    text-align: center;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.service-process-step img {
    text-align: center;
    width: 50px;
    height: 50px;
}

.service-process-step h5 {
    text-align: center;
}

.service-process-step p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}

.botton-link {
    text-align: center;
    padding-top: 20px;
}

.service-process-step-content:hover .service-process-step-icon {
    background-color: var(--blue);
    transform: scale(1.05);
}

@media (max-width:767px) {
    .content {
        text-align: center;
    }
}

/* ================= WHY CHOOSE US SECTION ================= */